doctype html
html(ng-app = "app")
    head
        title= title
        link(rel='stylesheet', href='/css/style.css')
        link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
        script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js")
        script(src='/app/app.js')
        script(src='/app/services/ProductService.js')
        script(src='/app/services/AttributeService.js')
        script(src='/app/services/AttributeTypeService.js')
        script(src='/app/services/CategoryService.js')
        script(src='/app/components/admin/admin.js')
        script(src='/app/components/admin/productAdd.js')
        script(src='/app/components/admin/categoryAdd.js')
        script(src='/app/components/admin/attributeTypeAdd.js')
        script(src='/app/components/admin/attributeAdd.js')
        script(src='/app/components/admin/attributeValueAdd.js')
    body
        block content
            div.container
                div
                    <admin></admin>