 <hr>
    <div class="form-group">
        <label>Select name of atribute : </label>
        <select ng-options="item as item.title for item in $ctrl.attributes track by item.title" ng-model="$ctrl.attributeSelected" required>
            <option style="display:none" value="">Blank</option>
        </select>
    </div>

    <div class="form-group">
        <label>Select type of atribute : </label>
        <select ng-options="item as item.title for item in $ctrl.attrtypes track by item.title" ng-model="$ctrl.attributeTypeSelected" required>
            <option style="display:none" value="">Blank</option>
        </select>
    </div>

    <div class="form-group">
        <label>Add attribute value : </label>
        <input type="text" name="desc" class="form-control" placeholder="attribute value" ng-model="$ctrl.product.attrvalue" required>
    </div>
 <hr>
